body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Noto Sans Symbols', sans-serif;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: white;
    color: #d5984e;
    text-align: left;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .navbar {
    display: flex;
  }
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .navbar1 {
    display: flex;
  }
  
  nav a {
    color: #16214f;
    text-align: center;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    font-family: 'Noto Sans Symbols', serif;
  }
  
  nav a:hover {
    background-color: #ededed;
  }
  
  nav a.active {
    border-bottom: 2px solid #d5984e;
  }
  
  nav a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #d5984e;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 600px) {
    .navbarr {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.navbar1{
    display: none;
}
  
    .navbar.active .navbar1 {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    nav a {
      padding: 10px;
      font-size: 20px;
    }
  }
  